:root {
    --scroll-thumb-color: #777575;
    --focus-color: #276bff;
    /* SELECT VARIABLES */
    --select-menu-viewport-height: 12.5rem;
    --select-list-item-hover-color: #e3e7ed;
    --select-list-item-highlight-color: #efefef;
}
